.background-image
  .container.container-full-size
    .row
      .welcome-elements
        .welcome-teaser
          .welcome-about-background
            .welcome-about-text
              Begeben Sie sich mit uns

          .welcome-about-background
            .welcome-about-text
              auf die Suche nach dem 'Guten Internet'

.welcome-4c#angebote-preise
  .container.container-full-size
    %h1.align-center
      Wer wir sind
    .about-text
      Das betterplace lab erforscht digitale Innovationen, damit Menschen, Organisationen und Unternehmen, die im sozialen Sektor arbeiten, noch mehr Gutes bewirken können.
      %p.video
        %iframe{allowfullscreen: "", frameborder: "0", height: "281", mozallowfullscreen: "", src: "//player.vimeo.com/video/12986029", webkitallowfullscreen: "", width: "500"}
      %p
        Wir sind Teil der gut.org gAG und tragen als Vorreiter für digital-soziale Themen zu deren Kompetenz und Reputation bei.

.welcome-green#trendreport
  .container.full-size
    .col-lg-6.no-padding
      = image_tag('trendreport.jpg')
    .col-lg-6.description-2c
      %h1.align-center
        Der Trendreport
      .block-text
        Der Trendreport ist das Herzstück der digital-sozialen Arbeit im betterplace lab. An über 500 Beispielen zeigen wir, wie digitale Innovationen (Mobilfunk-Dienste, Webseiten, etc.) schon heute den sozialen Sektor verbessern. Daraus leiten wird Trends ab und schreiben tiefer gehende Analysen (Insights). Trendinteressierte infomieren wir übrigens auch mit den zweiwöchentlichen labnews.


#labtogether
  .container.full-size
    .col-lg-6.description-2c
      %h1.align-center
        Labtogether
      .block-text
        Das betterplace labtogether ist unsere jährliche Konferenz. Unter dem Motto "Digital für Sozial - Wie Online-Trends gesellschaftliches Engagement erneuern" treffen sich seit 2012 Experten und Interessierte zum Austausch und Weiterdenken. Alle Vorträge archivieren wir auch als Videos. Das dritte labtogether findet am 6. November 2014 statt.
    .col-lg-6.no-padding
      = image_tag('labtogether.jpg')

.welcome-green#latw
  .container.full-size
    .col-lg-6.no-padding
      = image_tag('latw.jpg')
    .col-lg-6.description-2c
      %h1.align-center
        Lab around the world
      .block-text
        Das lab ist weg. Auf unserer weltweiten Forschungsreise wollen wir rausfinden, wie das Internet soziale Ideen voran bringt. Damit wir einen globalen Blick bekommen und mal aus der Vogelperspektive das Thema digital-sozial beobachten können schicken wir zehn Forscher in 14 Länder. Die ersten sind bereits unterwegs.

.welcome-4c.welcome-team#team
  .container.full-size.full-size-padding
    %h1.align-center.header-bottom-padding
      Team
    .row
      .col-lg-3
        = image_tag('team/Joana.jpg')
        %h3.heading-4c
          Laboss
        .description-4c
          Joana Breidenbach ist promovierte Kulturanthropologin und Autorin zahlreicher Bücher zu den kulturellen Folgen der Globalisierung, Migration und Tourismus. Etwa: Tanz der Kulturen (Rowohlt 2000), Maxikulti (Campus 2008) und Seeing Culture Everywhere (Washington Press 2009). Joana Breidenbach ist Mitgründerin von betterplace.org und leitet das betterplace lab.
      .col-lg-3
        = image_tag('team/Medje.jpg')
        %h3.heading-4c
          Innenministerin
        .description-4c
          Medje Prahm ist Mistress of Arts in Philosophy & Economics und hat sich vor dem lab auf die Frage konzentriert, wie Nonprofit-Organisationen lernen und ihre Wirkung verbessern können. Dazu hat die 30-Jährige bereits für die stiftung neue verantwortung eine Wirkungsanalyse konzipiert und pilotiert. Medje hält als Innenministerin des betterplace lab die verzweigte Netzwerkorganisation zusammen und unterstützt Joana bei der Leitung.
      .col-lg-3
        = image_tag('team/kathleen.jpg')
        %h3.heading-4c
          Trendministerin
        .description-4c
          Kathleen Ziemann ist Kulturwissenschaftlerin und hat unter dem Titel Platt 2.0 ihre Masterarbeit über Minderheitensprachen auf Facebook geschrieben. Bisher hat Kathleen als Referentin für Öffentlichkeitsarbeit bei Ärzte ohne Grenzen und im Landtag Brandenburg gearbeitet. Seit Juli 2012 ist die 30-Jährige Design Thinkerin des HPI Potsdam.
      .col-lg-3
        = image_tag('team/Dennis.jpg')
        %h3.heading-4c
          Schweineminister
        .description-4c
          Dennis Buchmann ist Diplom-Biologe, Master of Public Policy und Absolvent der Deutschen Journalistenschule. Er hat das Magazin Humanglobaler Zufall erfunden und als Chefredakteur geleitet. Im betterplace lab ist Dennis seit drei Jahren Kreativredakteur und arbeitet bei uns redaktionell sowie konzeptionell. Seit 2011 gibt er mit MeinekleineFarm.org außerdem Fleisch ein Gesicht.

.welcome-green#kontakt
  .welcome-2c
    .container
      %h1.align-center.header-bottom-padding
        Kontakt
      .row
        .col-lg-6
          .google-maps
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2428.9136162859936!2d13.447106812686847!3d52.49880325813063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e539992ebb3%3A0xa79a32578cb4a195!2sSchlesische+Stra%C3%9Fe+26%2C+10997+Berlin!5e0!3m2!1sde!2sde!4v1408110081246" width="600" height="450" frameborder="0" style="border:0"></iframe>
        .col-lg-6.description-2c
          %h3
            Anschrift:
          %p
            Schlesische Straße 26
            10997 Berlin
          %h3
            Telefon:
          %p
            +49 (0)30 76 76 44 88 - 0
          %h3
            Email:
          %p
            %a{href: "mailto:change@betterplace.org", target: "_top"}
              change@betterplace.org
