.background-image
  .container.container-full-size
    .row
      .welcome-elements
        .col-md-6.hidden-xs.hidden-sm.cleaner
          = image_tag("cleaner.png")
        .col-md-6.welcome-teaser
          .welcome-form
            %h1
              Jetzt putzen lassen!
            %ul
              %li
                %h4
                  Guter Grund 1!
              %li
                %h4
                  Guter Grund 2!
              %li
                %h4
                  Guter Grund 3!
              %li
                %h4
                  Guter Grund 4!

            = form_tag new_search_path, class: "form-inline", role: "form", method: "get" do
              .form-group
                = label_tag :q, "Postleitzahl", class: "sr-only"
                = text_field_tag :searched_zip, nil, class: "input-xlg input-zip input-center form-control", autofocus: "", placeholder: "Postleitzahl", type: "tel"
              .form-group.button-center
                // .form-group is somehow necessary in order for the button to be repsonsive
                %button.submit{type: "submit"}
                  Termine prüfen
                  %br
                  %h6.button-double-line
                    In 60 Sekunden buchen

.welcome-4c#angebote-preise
  .container.container-full-size
    .row
      .col-lg-3
        .benefits-img
          = image_tag('gluecklich.png')
        %h3.heading-4c
          Einfach
        .description-4c
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. St
      .col-lg-3
        .benefits-img
          = image_tag('sicher.png')
        %h3.heading-4c
          Sicher
        .description-4c
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. St
      .col-lg-3
        .benefits-img
          = image_tag('reinigungsmittel.png')
        %h3.heading-4c
          Bequem
        .description-4c
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. St
      .col-lg-3
        .benefits-img
          = image_tag('euro.png')
        %h3.heading-4c
          Preiswert
        .description-4c
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. St
    .welcome-submit
      .submit-green.jumbotron.jumbotron-submit.align-center
        %form.form-inline{role: "form"}
          .form-group
            %label.sr-only{for: "exampleInputEmail1"} Postleitzahl
            %input.input-xlg.input-center.input-zip.form-control{placeholder: "Postleitzahl", type: "tel"}/
            / used type: "tel" to not show the number picker on desktio but still
            / make sure the numerical keyboard is triggered on mobile
          %button.submit{type: "submit"}
            Termine prüfen
            %br
            %h6.button-double-line
              In 60 Sekunden buchen

.welcome-green#qualitaet
  .welcome-2c
    .container
      %h1.align-center
        Wir putzen gründlich
      .row
        .col-lg-6
          = image_tag('putzkraefte.png')
        .col-lg-6.description-2c
          Unsere Reinigungkräfte befolgen sind mit einer Checkliste mit über 50
          Punken ausgestattet um sicher zu gehen, dass nichts vergessen wird und
          Sie stets zufrieden sind. Unter anderem saugen und wischen wir alle
          Böden, reinigen Waschbecken, Duschen und Badewannen, bringen den Müll
          raus und sind insgesamt ziemlich toll!
      .welcome-submit
        .jumbotron.jumbotron-submit.align-center
          %form.form-inline{role: "form"}
            .form-group
              %label.sr-only{for: "exampleInputEmail1"} Postleitzahl
              %input.input-xlg.input-center.input-zip.form-control{placeholder: "Postleitzahl", type: "tel"}/
            %button.submit{type: "submit"}
              Termine prüfen
              %br
              %h6.button-double-line
                In 60 Sekunden buchen

.welcome-4c.welcome-team#team
  .container.container-full-size
    %h1.align-center.header-bottom-padding
      Team
    .row
      .col-lg-3
        .img-circle
          = image_tag('this_could_be_you.jpg', class: "img-circle")
        %h3.heading-4c
          CEO
        .description-4c
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. St
      .col-lg-3
        .img-circle
          .img-circle
            = image_tag('this_could_be_you.jpg', class: "img-circle")
        %h3.heading-4c
          CFO
        .description-4c
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. St
      .col-lg-3
        .img-circle
          .img-circle
            = image_tag('this_could_be_you.jpg', class: "img-circle")
        %h3.heading-4c
          CMO
        .description-4c
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. St
      .col-lg-3
        .img-circle
          = image_tag('sebastian_schwiecker.jpg' , class: "img-circle")
        %h3.heading-4c
          CTO (Gott bewahre...)
        .description-4c
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. St
    .welcome-submit
      .submit-green.jumbotron.jumbotron-submit.align-center
        %form.form-inline{role: "form"}
          .form-group
            %label.sr-only{for: "exampleInputEmail1"} Postleitzahl
            %input.input-xlg.input-center.input-zip.form-control{placeholder: "Postleitzahl", type: "tel"}/
          %button.submit{type: "submit"}
            Termine prüfen
            %br
            %h6.button-double-line
              In 60 Sekunden buchen


.welcome-2c#kontakt
  .welcome-green
    .container
      %h1.align-center.header-bottom-padding
        Kontakt
      .row
        .col-lg-6
          .google-maps
            <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x47a85063ebd5027b%3A0x15ee2ba2a23306d0!2sBruchsaler+Stra%C3%9Fe+4%2C+10715+Berlin%2C+Deutschland!5e0!3m2!1sde!2s!4v1388945747112" width="300" height="300" frameborder="0" style="border:0"></iframe>
        .col-lg-6.description-2c
          %h3
            Anschrift:
          %p
            Bruchsaler Straße 4
            10715 Berlin
          %h3
            Telefon:
          %p
            (030) 123 123 123
          %h3
            Email:
          %p
            %a{href: "mailto:testphase@putzen.in?Subject=Ich%20will%20mitmachen", target: "_top"}
              testphase@putzen.in
      .welcome-submit
        .jumbotron.jumbotron-submit.align-center
          %form.form-inline{role: "form"}
            .form-group
              %label.sr-only{for: "exampleInputEmail1"} Postleitzahl
              %input.input-xlg.input-center.input-zip.form-control{placeholder: "Postleitzahl", type: "tel"}/
            %button.submit{type: "submit"}
              Termine prüfen
              %br
              %h6.button-double-line
                In 60 Sekunden buchen

.welcome-2c
  .container
    %h1.align-center
      Wo wir tätig sind
    .row
      .col-lg-4.col-lg-offset-2
        %h3
          Berlin
        %ul
          %li
            = link_to 'Berlin-Charlottenburg', root_path
          %li
            = link_to 'Berlin-Friedrichshain', root_path
          %li
            = link_to 'Berlin-Hellersdorf', root_path
          %li
            = link_to 'Berlin-Hohenschönhausen', root_path
          %li
            = link_to 'Berlin-Kreuzberg', root_path
          %li
            = link_to 'Berlin-Köpenick', root_path
          %li
            = link_to 'Berlin-Lichtenberg', root_path
          %li
            = link_to 'Berlin-Marzahn', root_path
          %li
            = link_to 'Berlin-Mitte', root_path
          %li
            = link_to 'Berlin-Neukölln', root_path
          %li
            = link_to 'Berlin-Pankow', root_path
          %li
            = link_to 'Berlin-Prenzlauer Berg', root_path
          %li
            = link_to 'Berlin-Reinickendorf', root_path
          %li
            = link_to 'Berlin-Schöneberg', root_path
          %li
            = link_to 'Berlin-Spandau', root_path
          %li
            = link_to 'Berlin-Steglitz', root_path
          %li
            = link_to 'Berlin-Tempelhof', root_path
          %li
            = link_to 'Berlin-Tiergarten', root_path
          %li
            = link_to 'Berlin-Treptow', root_path
          %li
            = link_to 'Berlin-Wedding', root_path
          %li
            = link_to 'Berlin-Weißensee', root_path
          %li
            = link_to 'Berlin-Wilmersdorf', root_path
          %li
            = link_to 'Berlin-Zehlendorf', root_path
      .col-lg-4.col-lg-offset-2
        %h3
          Hamburg
        %ul
          %li
            = link_to 'Hamburg-Altona', root_path
          %li
            = link_to 'Hamburg-Bergedorf', root_path
          %li
            = link_to 'Hamburg-Eimsbüttel', root_path
          %li
            = link_to 'Hamburg-Mitte', root_path
          %li
            = link_to 'Hamburg-Nord', root_path
          %li
            = link_to 'Hamburg-Harburg', root_path
          %li
            = link_to 'Hamburg-Wandsbek', root_path
    .welcome-submit
      .jumbotron.jumbotron-submit.align-center
        %form.form-inline{role: "form"}
          .form-group
            %label.sr-only{for: "exampleInputEmail1"} Postleitzahl
            %input.input-xlg.input-center.input-zip.form-control{placeholder: "Postleitzahl", type: "tel"}/
          %button.submit{type: "submit"}
            Termine prüfen
            %br
            %h6.button-double-line
              In 60 Sekunden buchen