.background-image
  .container.container-full-size
    .row
      .welcome-elements
        .col-md-6.hidden-xs.hidden-sm.cleaner
          = image_tag("cleaner.png")
        .col-md-6.welcome-teaser
          .area-form
            .area-text
              Leider sind wir noch nicht in
              %b
                = "#{@area.name}"
              tätig. Wenn Sie uns Ihre E-Mail hinterlassen werden wir Ihnen eine einmalige Nachricht zukommen lassen sobald sich das ändert (kein Newsletter, kein Spam)

            = form_tag prospects_path, class: "form-inline", role: "form", method: "post" do
              .form-group
                = label_tag :q, "Email", class: "sr-only"
                = text_field_tag :email, nil, class: "input-xlg input-email input-center form-control", autofocus: "", placeholder: "Ihre Email", type: "email"
                = hidden_field_tag "zip", @area.zip
              .form-group.button-center
                // .form-group is somehow necessary in order for the button to be repsonsive
                %button.submit{type: "submit"}
                  Nachricht erhalten
                  %br
                  %h6.button-double-line
                    Kein Spam