!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{name: "mobile-web-app-capable", content: "yes" }
    %title= content_for?(:title) ? yield(:title) : 'Putzen'
    / Shortcut Icon for Android and iOS
    %link{ rel: 'apple-touch-icon-precomposed', href: image_path('icon/shortcut_icon.png'), type: "image/png" }
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Putzen'}"}
    = favicon_link_tag "icon/favicon.ico" , :rel => "shortcut icon", :type => "image/x-icon"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar-side
      = render 'layouts/navigation_links_collapsed'
    .page-wrap
      %header
        = render 'layouts/messages'
        = render 'layouts/navigation'
      %main{:role => "main"}
        = yield
        =  render 'layouts/footer'
      = render 'layouts/olark'
