!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{name: "mobile-web-app-capable", content: "yes" }
    %title= content_for?(:title) ? yield(:title) : 'Putzen'
    / Shortcut Icon for Android
    %link{href: "shortcut_icon.png", rel: "shortcut icon", sizes: "196x196"}
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Putzen'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    = render 'layouts/olark'
