!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{name: "mobile-web-app-capable", content: "yes" }
    %title= content_for?(:title) ? yield(:title) : 'Putzen'
    / Shortcut Icon for Android
    %link{href: "shortcut_icon.png", rel: "shortcut icon", sizes: "196x196"}
    / Shortcut Icons for  iOS
    %link{ rel: 'apple-touch-icon', href: image_path('apple-touch-icon-57x57.png'), type: "image/png"  }
    %link{ rel: 'apple-touch-icon', sizes: '72x72', href: image_path('apple-touch-icon-72x72.png'), type: "image/png"  }
    %link{ rel: 'apple-touch-icon', sizes: '114x114', href: image_path('apple-touch-icon-114x114.png'), type: "image/png"  }
    %link{ rel: 'apple-touch-icon', sizes: '144x144', href: image_path('apple-touch-icon-144x144.png'), type: "image/png"  }
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Putzen'}"}
    = favicon_link_tag "favicon.ico" , :rel => "shortcut icon", :type => "image/x-icon"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar-side
      = render 'layouts/navigation_links_collapsed'
    .page-wrap
      %header
        = render 'layouts/messages'
        = render 'layouts/navigation'
      %main{:role => "main"}
        = yield
        =  render 'layouts/footer'
      = render 'layouts/olark'
